	/*
  	medical-icon icon font: medical-icon
  	Creation date: 11/02/2018 15:08
  	*/

	@font-face {
	    font-family: "MedicalIcon";
	    src: url("../fonts/medical-icon.eot");
	    src: url("../fonts/medical-icon.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/medical-icon.woff") format("woff"),
	    url("../fonts/medical-icon.ttf") format("truetype"),
	    url("../fonts/medical-icon.svg#MedicalIcon") format("svg");
	    font-weight: normal;
	    font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    @font-face {
	        font-family: "MedicalIcon";
	        src: url("./medical-icon.svg#MedicalIcon") format("svg");
	    }
	}

	[class^="medical-icon-"]:before,
	[class*=" medical-icon-"]:before,
	[class^="medical-icon-"]:after,
	[class*=" medical-icon-"]:after {
	    font-family: MedicalIcon;
	    font-size: 20px;
	    font-style: normal;
	    margin-left: 20px;
	}

	.medical-icon-people:before {
	    content: "\f100";
	}

	.medical-icon-heart:before {
	    content: "\f101";
	}

	.medical-icon-teeth:before {
	    content: "\f102";
	}
