@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700,900');
/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #333;
    font-family: 'Orbitron';
}

body {
    font-size: 15px;
    line-height: 1.7;
    color: #919391;
	background:#F1F1F1;
}

a:hover {
    text-decoration: none
}

section.section_padding {
    padding: 80px 0;
}

.section_border span {
  height: 5px;
  background: #6aaf08;
  width: 50px;
  display: inline-block;
  border-radius: 3px;
}
.section_border span.black_border {
  height: 5px;
  background: #333;
  width: 30px;
  margin: 0px 10px;
  border-radius: 3px;
}
.section_title {
  margin-bottom: 60px;
  text-align: center;
  text-transform: capitalize;
}
.section_title h2 {
  font-size: 35px;
}
.client_testimonial_carousel .owl-dots div {
    height: 5px;
    width: 20px;
    background: #6aaf08;
    display: inline-block;
    margin: 5px;
    transition: .3s;
    border-radius: 2px;
}

.client_testimonial_carousel .owl-dots div.active {
    width: 30px;
    background: #333;
}

.client_testimonial_carousel .owl-dots {
    text-align: center;
    margin-top: 30px;
}

.single_item {
    box-shadow: 0 0 2px #D5DCCD;
    margin: 2px;
    padding: 20px;
    font-style: italic;
}

.single_item h3 {
    font-style: normal;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
}

.single_item h3 span {
    display: block;
    font-size: 13px;
    margin-top: 5px;
    color: #919391;
    font-weight: normal;
}

.single_item:before{
	font-family:fontAwesome;
	content:"\f10e";
	left: 30px;
    font-size: 20px;
    top: 50%;
    position: absolute;
    line-height: 30px;
    margin-top: -15px;
    color: #6aaf08;
}
.single_item {
    position: relative;
    padding-left: 80px;
}


.single_item:after {
    background: #919391;
    content: "";
    height: 73%;
    width: 1px;
    position: absolute;
    top: 12%;
	left:60px;
}
