/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    color: #A4A4A3;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 50px;
}

a:hover {
    text-decoration: none
}

.styled-faq .panel .panel-heading h4 a[aria-expanded=true] i.fa.fa-angle-down {
    padding: 50px 0;
}

section.section-padding.section-bg::after {
    background-image: url("../img/camilia.jpg");
    background-size: cover;
    width: 45%;
    background-color: #ddd;
    background-position: center;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    position: absolute;
}

section.section-padding.section-bg {
    position: relative;
}

h2.section-title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

h2.section-title span {
    color: #19B6FD;
}

.styled-faq .panel-default > .panel-heading {
    border: medium none;
    background: none repeat scroll 0 0;
    border-radius: 0;
    padding: 0;
}

.styled-faq .panel .panel-collapse .panel-body {
    border: medium none;
}

.styled-faq .panel-group .panel {
    border-radius: 0;
    box-shadow: 0 0 0;
    margin-bottom: 15px;
}

.styled-faq .panel .panel-heading h4 a {
    display: block;
    padding: 15px;
    position: relative;
}

.styled-faq .panel .panel-heading h4 a i.fa {
    float: right;
    font-size: 150%;
    line-height: 15px;
    display: none;
}

.styled-faq .panel .panel-heading h4 a[aria-expanded="true"] i.fa.fa-angle-down {
    display: block;
    padding: 0;
}

.styled-faq .panel .panel-heading h4 a[aria-expanded="false"] i.fa.fa-angle-up {
    display: block;
    padding: 0;
}

.section-padding {
    padding: 50px 0;
}

.styled-faq {
    margin-top: 30px;
    min-height: 490px;
}
