@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/*
    font-family: 'Roboto', sans-serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Raleway', sans-serif;

*/

/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}

body {
    font-size: 15px;
    line-height: 1.7;
    color: #CCCCCC;
}

a:hover {
    text-decoration: none
}

.section-padding {
    padding: 80px 0;
}

.map {
    height: 500px;
    width: 100%;
}

.section-padding.map-bg {
    background: #33384F;
    color: #fff;
    padding-bottom: 0;
    margin-bottom: 180px;
}

.section-title h1 {
    text-transform: capitalize;
    font-size: 60px;
    margin-bottom: 70px;
    font-weight: 400;
}

.section-desc {
    font-size: 110%;
    line-height: 1.9;
    margin-top: 5px;
}

.location-direction ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 50px;
}

.location-direction h3 {
    color: #D09737;
    font-size: 35px;
    font-weight: 400;
}

.location-direction h3 span {
    font-size: 20px;
    margin-left: -8px;
}

.location-direction p {
    opacity: .5;
    text-transform: uppercase;
    font-size: 13px;
}

.location-direction li {
    margin-bottom: 25px;
    z-index: 1;
    padding-bottom: 25px;
}

.location-direction li:after {
    position: absolute;
    left: 67px;
    height: 1px;
    width: 100px;
    background: #fff;
    content: "";
    opacity: .2;
    margin-top: 12px;
}

.location-direction li:last-child:after {
    display: none;
}

.map {
    margin-bottom: -100px;
    box-shadow: 0 0 4px #000;
}

.location-direction li:last-child {
    padding-bottom: 10px;
    margin-bottom: 0;
}
