/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .single-product-item {
        height: 250px;
        margin-bottom: 15px;
    }
    .single-product-item:nth-child(2) {
        height: 520px;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .big-menu li {
        font-size: 30px;
    }
    .big-menu li a {
        padding: 130px 30px 30px;
    }
    .single-product-item {
        width: 31.3333%;
    }
    .single-product-item:nth-child(2),
    .single-product-item:nth-child(4),
    .single-product-item:nth-child(9) {
        width: 64.6666%;
    }
    .promo-bg {
        padding: 20px 20px 0;
    }
    .footer-area,
    .footer-area .text-right {
        text-align: center;
    }
    .footer-menu li {
        padding: 0 20px;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .header-right,
    .header-left ul {
        display: none;
    }
    .homepage-slider-wrapper,
    .homepage-slider-wrapper div {
        height: auto;
    }
    .header-top-area {
        background: #f8eeed;
        position: relative;
    }
    .header-top-area a {
        padding: 15px 15px 15px;
    }
    .slide-text-tablecell {
        font-size: 50px;
        list-style: height 60px;
        padding: 50px 0;
        text-align: center;
    }
    .owl-carousel .owl-item .single-slider-item img {
        display: none;
    }
    .big-menu li {
        float: none;
        font-size: 40px;
        width: auto;
    }
    .big-menu li:nth-child(2),
    .big-menu li:nth-child(3) {
        width: auto;
    }
    .big-menu li a {
        padding: 50px;
        text-align: center;
    }
    .single-product-item,
    .single-product-item:nth-child(2),
    .single-product-item:nth-child(3),
    .single-product-item:nth-child(4),
    .single-product-item:nth-child(9) {
        width: 100%;
        float: none;
    }
    .promo-bg {
        padding-top: 10px;
    }
    .promo-content {
        padding: 20px;
    }
    .promo-title h2 {
        font-size: 25px;
    }
    .promo-title span .year-text {
        font-size: 65px;
        left: 30%;
    }
    .product-promtion .owl-dots {
        margin-top: 0;
        position: relative;
        top: auto;
        right: auto;
        text-align: center;
        width: 100%;
    }
    .product-promtion .owl-dots div {
        display: inline-block;
        margin: 5px;
    }
    .footer-area,
    .footer-area .text-right {
        text-align: center;
    }
    .footer-menu li {
        padding: 0 20px;
    }
    input[type=submit]{
        margin-top: 10px;
    }
}


/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {}