@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/*
    font-family: 'Roboto', sans-serif;

    font-family: 'Lato', sans-serif;

    font-family: 'Raleway', sans-serif;

*/

/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

body {
    font-size: 15px;
    line-height: 1.7;
    color: #CCCCCC;
}

a:hover {
    text-decoration: none
}

.section-padding {
    padding: 80px 0;
}

html,
body {
    height: 100%;
}

.right-side {
    background-image: url(../img/cover-bg.jpeg);
}

.left-side {
    width: 20%;
    position: fixed;
    height: 100%;
    background: #222;
}

.right-side {
    width: 80%;
    height: 100%;
    margin-left: 20%;
    display: table;
    position: relative;
    z-index: 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.right-side-wrap {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 25px;
    padding: 12%;
}

.right-side:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #222;
    opacity: .6;
    z-index: -1;
}

.right-side-wrap h1 {
    color: #fff;
    font-size: 65px;
    text-transform: capitalize;
    font-weight: 900;
    padding-bottom: 15px;
}

.right-side-wrap h1 span {
    color: #FFB603;
}

a.boxed-btn {
    display: inline-block;
    color: #333;
    position: relative;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 800;
    margin-top: 100px;
    background: #fff;
    opacity: .6;
    transition: .3s;
}

a.boxed-btn:hover {
    color: #FFB603;
}

.logo {
    color: #fff;
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 85px 0;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
}


.logo:before {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    content: "";
    background-color: #FFB603;
    border-radius: 50%;
    margin-left: -75px;
    margin-top: -75px;
    z-index: -1;
    opacity: .3;
}


ul.tab-list {
    padding: 0;
    list-style: none;
    margin: 45px 0;
    text-align: center;
}

ul.tab-list li {
    display: block;
    padding: 20px 0;
}

ul.tab-list li a {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    position: relative;
}

.tab-list li.active a {
    color: #FFB603;
}

ul.tab-list li.active a:after {
    position: absolute;
    left: 0;
    bottom: -5px;
    content: "";
    height: 3px;
    width: 100%;
    background: #FFB603;
}

.social-links {
    display: inline-block;
    margin-left: 20%;
}

.social-links a {
    color: #fff;
    padding: 10px;
    font-size: 20px;
    transition: .3s;
}

.social-links a:hover {
    color: #FFB603;
}

p.copyright-text {
    margin-top: 10px;
    text-align: center;
}

p.copyright-text span {
    color: #FFB603;
}
